.nav_bar{
	width: 20%;
	float: left;
	height: auto;
	padding: 20px;
}
.nav_bar ul, .nav_bar hr{
	margin: 0;
	padding: 0;
	border-color: #3D1101;
}

.nav_bar a{
	width: 100%;
	height: 32px;
	display: block;
	text-decoration: none;
	color: #3D1101;
	line-height: 32px;
	transition: 1s;
}

.nav_bar a:hover{
	background-color: #3D1101;
	color: white;
}

.shoped span,.shoped i{
	float: left;
	display: block;
	height: 100%;
	line-height: 32px;
}
.shoped span{
	font-size: 16px;
	border-right: solid 1px;
	padding-right: 17px;
}
.shoped i{
	padding: 0px 17px;
	font-size: 27px;
	color:#3D1101;
}
.shop_item{
	width: 80%;
	height: auto;
	float: left;
}
.tool_bar{
	margin-top: 33px;
	padding: 15px;
}
.tool_bar .shoped{
	float: right;
	height: 32px;
/*	margin-top: auto;
	margin-bottom: auto;*/
}

.search_bar{
	display: inline-block;
	width: 460px;
}
.search_bar input{
	width: 93%;
	height: 32px;
	padding: 0;
	border:none;
	vertical-align: top;
	border: solid 1px #3D1101;
}
.search_bar a{
	display: inline-block;
	height: 32px;
	width: 7%;
	line-height: 32px;
	background-color: #3D1101;
	text-align: center;
}
.search_bar i{
	color: white;
}

.product{
	width: 100%;
	padding: 10px;
	
}
.product ul{
	text-align: center;
	padding-left: 0px;
}

.product li{
	margin: 5px;
	float: left;
	width: 31.33333%;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	text-align: center;
	overflow: hidden;
}

.product ul li img{
	width: 100%;
	height: 120px;
}
.product ul li h3{
	margin-bottom: 0px
}
.product ul li p{
	margin-bottom: 0px
}
.product ul li hr{
	border: solid 1px;
	display: inline-block;
	width: 40%;
	padding: 0;
	margin: 0;
}
.product ul li button{
	margin: 10px 0px;
	padding: 5px;
	border: solid 3px #FF5E45;
	border-radius: 5px;
	color:#FF5E45;
	width: 80%;
	cursor: pointer;
	transition: 0.5s;
}
.product ul li button:hover{
	background-color: #FF5E45;
	color: white;
}
.product ul li button i{
	padding: 0px 10px;
}
.love{
	position: absolute;
	top:9px;
	left: 9px;
	color:white;
	cursor:pointer;
	transition: 0.5s;
}
.on_love{
	color:red;
}
.hot_item{
	position: absolute;
	width: 130px;
	height: 30px;
	line-height: 30px;
	transform: rotate(45deg);
	color:white;
	background-color: #00CC99;
	z-index: 9;
	right: -31px;
	top: 17px;
}
@media (max-width: 769px){
	.product li{
		width: 50%;
		margin: 0;
	}
}
@media (max-width: 415px){
	.nav_bar{
		width: 100%;
	}
	.shop_item{
		width: 100%;
	}
	.search_bar{
		width: 100%;
	}
	.product li{
		width: 100%;
		margin: 0;
	}
	.product ul li img{
		height: auto;
		
	}
	.love{
		font-size: 30px;
	}
}