.container
  .topbar
    img.icon(src="http://worldartsme.com/themes/worldartsmeRahim2_2016-03-05/template/tpl/files/icons/fb.png")
    input(placeholder="搜尋人地點事務")
  .cover
  .midbar
    .personimg
      .names
        h2.chtname 裡蔔松
        h5.engname JerryLi
  .bottombar
    p
      i.fa.fa-university
      span 內容內容內容內容內容<br>
      i.fa.fa-address-book
      span 內容內容內容內容內容5659<br>
      i.fa.fa-envelope-open-o
      span 你好呀呀呀呀<br>