nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      .navbar-brand SUNG
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        
        li
          a(href="#section_about") 使用技能
        li
          a(href="#section_home") 新竹之美
        li
          a(href="#") 自我介紹
        li
          a(href="#footer") 與我聯繫
header.jumbotron
  .container
    h1(data-0="transform: translateY(-50px)" data-500="transform: translateY(0px)") 阿松自學網頁練習
    h4 慢慢練習努力寫寫寫寫寫



section#section_about
  .container
    .row
      .col-md-6.col-sm-12
        .img_wrap(data-0="transform: translateX(-50px)" data-300="transform: translateX(0px)")
          img(src="http://getbootstrap.com/apple-touch-icon.png", alt="")
        h2(data-0="opacity: 0" data-200="opacity: 1") Bootstrap
        p(data-0="opacity: 0" data-200="opacity: 1") Bootstrap是最受歡迎的HTML、CSS和JS框架，用於開發自適應網頁與行動優先的網站專案。
      .col-md-6.col-sm-12
        .img_wrap(data-0="transform: translateX(-50px)" data-300="transform: translateX(0px)")
          img(src="https://avatars0.githubusercontent.com/u/70142?v=3&s=400", alt="")
        h2(data-0="opacity: 0" data-200="opacity: 1") JQuery
        p(data-0="opacity: 0" data-200="opacity: 1") jQuery是一套跨瀏覽器的JavaScript函式庫，簡化HTML與JavaScript之間的操作。全球前10,000個存取最高的網站中，有65%使用了jQuery，是目前最受歡迎的JavaScript函式庫。
        
section#section_home
  .container
    .row
      .col-sm-12
        h2 新竹之美
      .col-sm-5(data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/1923%E5%B9%B4%E6%97%A5%E6%9C%AC%E7%9A%87%E5%A4%AA%E5%AD%90%E8%A3%95%E4%BB%81%E5%B7%A1%E8%A6%96%E6%96%B0%E7%AB%B9%E8%BB%8A%E7%AB%99_Japanese_Crown_Prince_Hirohito_visited_Hsinchu_Station_of_TAIWAN.jpg/270px-1923%E5%B9%B4%E6%97%A5%E6%9C%AC%E7%9A%87%E5%A4%AA%E5%AD%90%E8%A3%95%E4%BB%81%E5%B7%A1%E8%A6%96%E6%96%B0%E7%AB%B9%E8%BB%8A%E7%AB%99_Japanese_Crown_Prince_Hirohito_visited_Hsinchu_Station_of_TAIWAN.jpg", alt="")
      .col-sm-7
        h3(data-0="transform: translateX(50px);opacity: 0" data-500="transform: translateX(0px);opacity: 1")  歷史
        p(data-0="transform: translateX(50px);opacity: 0" data-500="transform: translateX(0px);opacity: 1")  新竹市（官方中文羅馬字名稱：Hsinchu City），是中華民國臺灣省的市，位於臺灣本島西北部的都市，古名竹塹，是臺灣高科技代工產業的重鎮。1980年代初期成立的新竹科學工業園區，吸引了大批國內與國際廠商的投資及許多高科技人力移居，因此有「臺灣矽谷」之稱，也因九降風特別強盛別稱「風城」。
    .row
      .col-sm-5(data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
        img(src="http://twhere.1111.com.tw/include/shopPhoto.ashx?cNo=35438&pid=75899", alt="")
      .col-sm-7
        h3(data-0="transform: translateX(50px);opacity: 0" data-500="transform: translateX(0px);opacity: 1") 美食
        p(data-0="transform: translateX(50px);opacity: 0" data-500="transform: translateX(0px);opacity: 1") 新竹的貢丸特別有名，嚴格來說，貢丸到處都有人會做，也非新竹一帶的豬肉特別鮮美。新竹對貢丸的貢獻，主要是科技上的：運用機器，令貢丸可大量生產。新竹的貢丸是以木棒或機器「摃（槌擊肉塊）」出來的。而新竹貢丸的材料必須用剛宰殺不久的新鮮溫體豬肉製作，也就是所謂的「活肉」。
        
footer.jumbotron#footer
  .container
    h3 與我聯繫
    input.form-control(placeholder="Email")   
    button.btn.btn-default 送出

        
  